#menu{
    background-color: #F2E7AE;   
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F2E7AE;
    
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #cdb436;
    color: white;
}

.active {
    color: white;
    background-color: #ffaa00;
}

.botonesR{
    float:right
}

#tituloPag{
    text-align: center;
    font-size: 25px;
}

#contenido{
    display: grid;
    grid-template-columns: 54% 54%;
    background-color: #F2E7AE;
    border: solid;
}

#banner{
    height: 20%;
}